html {
  margin: 0;
}

.navbar .navbar-collapse ul .sign-in {
  margin-left: 20px;
  border-left: 1px solid #000000;
  padding-left: 10px;
  /* transform: rotate(90deg); */
}

.header .row .col-sm-8 p {
  color: black;
  font-weight: 600;
  background-color: #ffbd37;
  text-align: center;
  padding: 6px 20px;
  border-radius: 0px 18px 18px 0px;
  width: 181px;
}

.popular-product {
  background-color: #d4c0c0;
}

.story-content .col-sm-8 a {
  background-color: #ffbd37;
  padding: 10px 63px;
  color: black;
  box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.25);
}

.story-content .col-sm-8 a:hover {
  text-decoration: none;
}

footer {
  background-color: #d4c0c0;
}

footer .footer-bottom {
  background-color: #0e2359;
  color: white;
  padding: 5px 10px;
}

footer .footer-bottom p span {
  color: #ffbd37;
}

.about-detail .col-sm-3 a {
  background-color: #3516b1;
}

.about-detail .col-sm-3 a:hover {
  text-decoration: none;
}
